<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.co.toonie.mapper.CommonMapper">
 

	<select id="countKeyword" parameterType="ArrayList" resultType="int">
		SELECT COUNT(*)
		FROM (
			SELECT
				DISTINCT toon_keyword "toonKeyword"
			FROM TB_KEYWORD
			WHERE toon_keyword IN
			<foreach collection="keywordList" item="keyword"  open="(" close=")" separator=",">
	            #{keyword.value}
	        </foreach>
	        AND b.toon_tag != 'default'
        )
	</select>
	
	<select id="selectMyKeywords" parameterType="kr.co.toonie.mapper.vo.MyKeywordListVo" resultType="String">
			SELECT
				toon_keyword "toonKeyword"
			FROM TB_MY_KEYWORD
			WHERE token = #{token}
			<if test="myKeywords != null">
			AND toon_keyword IN
				<foreach collection="myKeywords" item="keyword"  open="(" close=")" separator=",">
	            	#{keyword}
	        	</foreach>
	        </if>
	        
	</select>		
</mapper>
