<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.co.toonie.mapper.KeywordMapper">
 
    <select id="selectKeywordList" resultType="kr.co.toonie.mapper.vo.KeywordVo">
        SELECT 
        	DISTINCT TOON_KEYWORD "toonKeyword"
        FROM TB_KEYWORD
        WHERE toon_tag != 'default'
    </select>
	<select id="selectTagsInKeyword" parameterType="String" resultType="kr.co.toonie.mapper.vo.KeywordVo">
		SELECT
			toon_keyword "toonKeyword",
			toon_tag "toonTag"
		FROM TB_KEYWORD
		WHERE toon_keyword = #{value}
		AND toon_tag != 'default'
		group by toon_keyword, toon_tag
	</select>
		
	

	
	
</mapper>
