<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.co.toonie.mapper.TagMapper">
	
	<select id="selectMyTagList" parameterType="String" resultType="String">
		SELECT DISTINCT toon_tag
		FROM TB_MY_KEYWORD a
		JOIN TB_KEYWORD b
		ON a.toon_keyword = b.toon_keyword
		AND a.token = #{value}
		AND b.toon_tag != 'default'
	</select>
	
	<select id="selectToonListInMyTag" parameterType="String" resultType="String">
		SELECT DISTINCT toon_id
		FROM TB_MY_KEYWORD a
		JOIN TB_KEYWORD b
		ON a.toon_keyword = b.toon_keyword
		AND a.token = #{value}
		AND b.toon_tag != 'default'
	</select>
	
	
	<select id="selectToonInTag" parameterType="String" resultType="kr.co.toonie.mapper.vo.ToonVo">
		SELECT
			a.toon_id "toonID",
			a.toon_name "toonName",
			a.insta_id "instaID",
			a.insta_url "instaUrl",
			a.insta_thumnail_url "instaThumnailUrl",
			a.insta_info "instaInfo",
			a.insta_follower_cnt "instaFollowerCnt",
			a.insta_post_cnt "instaPostCnt",
			a.insta_latest_post_url "instaLatestPostUrl"
		FROM TB_TOON a
		JOIN TB_KEYWORD b
		ON a.toon_id = b.toon_id
		AND b.toon_tag = #{value}
		AND b.toon_tag != 'default'
	</select>
	
	<select id="selectToonInCurationTag" parameterType="String" resultType="kr.co.toonie.mapper.vo.ToonVo">
		SELECT
			a.toon_id "toonID",
			a.toon_name "toonName",
			a.insta_id "instaID",
			a.insta_url "instaUrl",
			a.insta_thumnail_url "instaThumnailUrl",
			a.insta_info "instaInfo",
			a.insta_follower_cnt "instaFollowerCnt",
			a.insta_post_cnt "instaPostCnt",
			a.insta_latest_post_url "instaLatestPostUrl"
		FROM TB_TOON a
		JOIN TB_KEYWORD b
		ON a.toon_id = b.toon_id
		AND b.toon_curation_tag = #{value}
		AND b.toon_tag != 'default'
	</select>
	
	<select id="selectToonInfo" parameterType="String" resultType="kr.co.toonie.mapper.vo.ToonVo">
		SELECT
			a.toon_id "toonID",
			a.toon_name "toonName",
			a.insta_id "instaID",
			a.insta_url "instaUrl",
			a.insta_thumnail_url "instaThumnailUrl",
			a.insta_info "instaInfo",
			a.insta_follower_cnt "instaFollowerCnt",
			a.insta_post_cnt "instaPostCnt",
			a.insta_latest_post_url "instaLatestPostUrl"
		FROM TB_TOON a
		WHERE a.toon_id = #{value}
		AND a.toon_id != 'default'
	</select>
	
	<select id="selectTagListInToon" parameterType="String" resultType="String">
		SELECT b.toon_tag "toonTag"
		FROM TB_TOON a
		JOIN TB_KEYWORD b
		ON a.toon_id = b.toon_id
		AND a.toon_id = #{value}
		AND b.toon_tag IS NOT NULL
		AND b.toon_tag != 'default'
	</select>
	
	<select id="selectCurationTagListInToon" parameterType="String" resultType="String">
		SELECT b.toon_curation_tag "toonCurationTag"
		FROM TB_TOON a
		JOIN TB_KEYWORD b
		ON a.toon_id = b.toon_id
		AND a.toon_id = #{value}
		AND b.toon_curation_tag IS NOT NULL
		AND b.toon_tag != 'default'
	</select>
	
	<select id="selectTagList" resultType="String">
		SELECT DISTINCT toon_tag
		FROM TB_KEYWORD
		WHERE b.toon_tag != 'default'
	</select>
	
	<select id="selectCurationTagList" resultType="String">
		SELECT DISTINCT toon_curation_tag
		FROM TB_KEYWORD
		WHERE toon_curation_tag IS NOT NULL
		AND toon_tag != 'default'
	</select>
	
	<select id="selectTagListInWorkList" parameterType="kr.co.toonie.mapper.vo.WorkListParamVo" resultType="String">
	  
	  select distinct toon_tag froM TB_WORK_LIST a
	  join tb_keyword b
	  on a.toon_id = b.toon_id
	  where a.token =#{token}
	  and a.work_list_name =#{workListName}
	</select>

	
	<select id="selectToonInTagList" parameterType="java.util.HashMap" resultType="kr.co.toonie.mapper.vo.ToonVo">
		SELECT
			a.toon_id "toonID",
			max(a.toon_name) "toonName",
			max(a.insta_id) "instaID",
			max(a.insta_url) "instaUrl",
			max(a.insta_thumnail_url) "instaThumnailUrl",
			max(a.insta_info) "instaInfo",
			max(a.insta_follower_cnt) "instaFollowerCnt",
			max(a.insta_post_cnt )"instaPostCnt",
			max(a.insta_latest_post_url) "instaLatestPostUrl"
		FROM TB_TOON a
		JOIN TB_KEYWORD b
		ON a.toon_id = b.toon_id
		AND b.toon_tag in
        <foreach collection="tagList" item="tag"  open="(" close=")" separator=",">
            #{tag}
        </foreach>
		AND b.toon_tag != 'default'
		group by toonID
	</select>
</mapper>
